<nav class="bg-gray-800">
	<div class="mx-auto container">
		<div class="relative flex h-16 items-center justify-between">
			<div class="flex flex-1 items-center justify-between">
				<div class="flex shrink-0 items-center">
					<span class="text-gray-400 font-bold">Your Company</span>
				</div>
				<div class="flex space-x-4">
					<div class="flex space-x-4">
						@for (item of menu(); track item.href) {
							<a
								[routerLink]="item.href"
								routerLinkActive="text-white"
								class="rounded-md px-3 py-2 text-sm font-medium text-gray-400 hover:bg-gray-700 hover:text-white"
							>
								{{ item.label }}
								@if (item.icon) {
									<fa-icon [icon]="item.icon.name" />
								}
							</a>
						} @empty {
							<span class="text-gray-600">Loading...</span>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<main class="container mx-auto py-6">
	<router-outlet />
</main>
